<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>全平台账号注册</title>
  <link rel="stylesheet" href="/index.css" />
</head>
<body>
<div hidden="hidden" id="information">
  string(2424) "{"id":51375,"entity_id":null,"gender":1,"diuberId":"24141123144175","frameNumber":"4567891","engineNumber":"789456","age":0,"idNo":"412828199501251043","idNoFaceOss":118538,"idNoBehindOss":0,"location":"{\"longitude\":121.503416,\"latitude\":31.155994}","version":"4.2.0","vehicleLicenseUrl":"http:\/\/diuber-guanche.oss-cn-shanghai.aliyuncs.com\/IMG151729759566041572","vehicleLicenseOss":123311,"vehicleLicenseOtherOss":119186,"password":"c9aa0c817a74e656fd7b4eb83bfca95f","licensePlate":"\u6caaAA20150","registeredIP":"180.173.201.5","currentArea":"\u4e0a\u6d77\u5e02","carType":"\u5bbe\u5229-\u6155\u5c1a","receive":"NO","groupPhotoUrl":"http:\/\/diuber-guanche.oss-cn-shanghai.aliyuncs.com\/IMG151729759531874720","groupPhotoOss":123312,"whetherCertification":0,"deviceToken":"fba0419d8e76a93c","deviceId":"d3ee1673f17f42d98a13c60e6ffdb031","carRegisterTime":"2018-01-30","wxOpenId":"opxrew5ol6KRKPF5tvbmTLFQVeFI","online":"true","headerImageUrl":"http:\/\/bmob-cdn-470.b0.upaiyun.com\/2017\/08\/16\/d5b48488be0c429996d32c66a4cba3e9.jpg","headerImageOss":118722,"headerCircleOss":0,"headerMiniOss":null,"platform":"Android","goldCoins":151,"realName":"\u6d4b\u8bd5","driverLicenseUrl":"http:\/\/diuber-guanche.oss-cn-shanghai.aliyuncs.com\/IMG151729759534203351","driverLicenseOss":123313,"driverLicenseOtherOss":119187,"driverHeaderOss":null,"driverVinOss":null,"driverHandheldCarOss":null,"driverLicense":"412828199501251043","driverGetDay":"2011-09-01","userStatus":0,"phoneNumber":"13641650994","carCategory":"\u8c6a\u534e\u578b","nickName":"\u5434\u59dd\u74870","dateOfBirth":null,"carColor":"\u7070\u8272","vehicleAge":0,"driverAge":0,"homeAddress":"\u4e0a\u6d77\u6d66\u4e1c\u65b0\u533a","insuranceOss":122692,"businessInsuranceOss":0,"inviter":"24141123144175","emergencyContact":"\u6d4b\u8bd5","emergencyContactTel":"136 4165 0994","driverType":"C1","driverEndTime":null,"vehicleOwn":"\u6d4b\u8bd5","vehicleRegisterTime":null,"vehicleEndTime":null,"createdAt":null,"updatedAt":"2018-04-16 15:36:44","is_shenzhou":0,"is_shouqi":1,"is_didi":0,"is_qunaer":0,"is_yidao":0,"is_meituan":0,"is_use":0,"is_disable":0,"token":"4b116c57c92b039b6aadf6a90e1370f4","youmeng_integral":10,"login_time":"2018-03-22 09:32:10","join_time":null,"idNoFaceUrl":"http:\/\/diuber-guanche.oss-cn-shanghai.aliyuncs.com\/IMG151539990315539186","insuranceUrl":"http:\/\/diuber-guanche.oss-cn-shanghai.aliyuncs.com\/IMG151696731874599550"}"
</div>
  <div id="choosePlatform"></div>
<div id="root"></div>
<div id="footer"></div>
</body>
</html>
